.keypads {
    height: 250px;
    position: absolute;
    width: 230px;
    top: 61px;
    padding: 10px;
    left: 40px;
}

.butt {
    width: 65px;
    height: 59px;
    font-size: 18px;
    background-color: #2c2c54;
    border: none;
    color: whitesmoke;
}
.butt:hover{
    background-color: #474787;
}