.screen {
    position: absolute;
    width: 257px;
    height: 70px;
    top: 1px;
    left: 49px;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 30px;
    color: whitesmoke;
    background-color: #2c2c54;
}