.screen {
    position: absolute;
    width: 260px;
    border: 4px solid;
    height: 70px;
    top: 40px;
    left: 49px;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    font-size: 30px;
}