* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.menu-options {
    width: 100vw;
    height: 6vh;
    background: pink;
    position: sticky;
    top: 0vh;
}

.formula-tab {
    width: 100vw;
    background: lightblue;
    height: 6vh;
    position: sticky;
    top: 6vh;
}

.cells {
    width: 100vw;
    height: 83vh;
    overflow: auto;
    position: relative;
}

.top-left-cell {
    border: 1px solid;
    width: 65px;
    height: 25px;
    position: absolute;
    z-index: 3;
    background: lightgray;
}

.top-row {
    display: flex;
    position: absolute;
    left: 65px;
    background: lightgray;
    z-index: 2;
}

.top-row-cell {
    min-width: 65px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    min-height: 25px;
    align-items: center;
}

.left-col {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    position: absolute;
    width: 65px;
    background: lightgray;
    z-index: 2;
    top: 25px;
}

.left-col-cell {
    width: 65px;
    border: 1px solid;
    min-height: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-cell {
    position: absolute;
    top: 25px;
    left: 65px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* flex-direction: column; */
}

.cell {
    min-width: 65px;
    min-height: 25px;
    border: 1px solid;
    outline: none;
    max-width: 65px;
}

.sheets {
    background: lightgrey;
    width: 100vw;
    height: 4.9vh;
}

.address {
    width: 10vw;
    height: 4vh;
    background: white;
    margin-left: 3vw;
    margin-top: 1vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formula-bar {
    width: 173.3px;
    height: 25px;
    background: whitesmoke;
    margin-left: 207.4px;
    margin-top: 6px;
    position: absolute;
    font-size: 15.8px;
}

.sheets {
    display: flex;
}

.add-button {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.sheet-lists {
    display: flex;
}

.sheet-lists div {
    display: flex;
    width: 70px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-left: 1px solid;
}

.active-sheet {
    background-color: white;
}
